# Hardhat
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Node
node_modules/
yarn-error.log

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Deployment
deployments/

# Misc
.DS_Store
